[Unit]
 Description = Java Service
 After network.target = deploy-java-azure.service
[Service]
 Type = forking
 Restart=always
 RestartSec=1
 SuccessExitStatus=143 
 ExecStart =/bin/bash /home/azagentuser/azagent/_work/r1/a/_deploy-java-azure/get-Host-API/deploy.sh start
 ExecStop =/bin/bash /home/azagentuser/azagent/_work/r1/a/_deploy-java-azure/get-Host-API/deploy.sh stop
 ExecReload =/bin/bash /home/azagentuser/azagent/_work/r1/a/_deploy-java-azure/get-Host-API/deploy.sh restart
[Install]
 WantedBy=multi-user.target
